@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Torus';
  src: url('./assets/fonts/TorusPro-HeavyItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

:root {
  --font-default: Torus, Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;
  --font-default-vi: Quicksand, Torus, Inter, "Helvetica Neue", Tahoma, Arial, "PingFang TC", "Microsoft JhengHei", "Apple SD Gothic Neo", system-ui, sans-serif;
  --font-default-zh: Torus, Inter, "Helvetica Neue", Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "Apple SD Gothic Neo", system-ui, sans-serif;
  --font-default-th: Torus, Inter, "Helvetica Neue", "Prompt", Tahoma, Arial, "Hiragino Kaku Gothic ProN", Meiryo, "Microsoft YaHei", "Apple SD Gothic Neo", sans-serif;
  --font-default-zh-tw: Torus, Inter, "Helvetica Neue", Tahoma, Arial, "PingFang TC", "Microsoft JhengHei", "Apple SD Gothic Neo", system-ui, sans-serif;
  --font-content: Inter, sans-serif;

  --osu-small-text: #e09cbd;
  --osu-bg-1: #1d1619;
  --osu-bg-2: #2b2126;
  --osu-bg-3: #483740;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--osu-bg-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: var(--font-default), serif;
  background-color: var(--osu-bg-1);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media (min-width: 900px) {
  .osu-page {
    max-width: 1000px;
    width: calc(100% - 40px);
  }
}

.osu-page {
  align-self: center;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}